<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="bower_components/mocha/mocha.css">
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
</head>
<body>
    <div id="mocha"></div>
    <script src="bower_components/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="bower_components/chai/chai.js"></script>
    <script>
        var assert = chai.assert;
        var expect = chai.expect;
        var should = chai.should();
    </script>

    <div class="container">

            <div class="header">
                <h3 class="page-title text-muted">task.js</h3>
                <!-- <button type="button" class="btn-new-task btn btn-lg btn-success align-right" href="#">
                    <span class="glyphicon glyphicon-pencil"></span>  New Task!
                </button> -->
            </div>

            <div class="new-task-container">
                <input class="create-new-task" placeholder="I need to..."></input>
            </div>

            <div class="printed-task-container"></div>

            <div class="footer">
                <p class="text-right">made by <a href="http://gloryoftheeighties.wordpress.com/" target="blank"> jacob wielgus </a></p>
            </div>

        </div> <!-- end container -->

        <script class="printedTask" type="text/template">
            <div class="task-wrapper <%= complete ? 'completed' : 'fake-class' %>" id= "<%= uniqueId %>">
                <div class="task-side-left">
                    <div class="task-name">
                        <p class="task-p"><%= task %></p>
                    </div>
                </div>

                <div class="task-side-right">
                    <div class="task-btns btn-group btn-group-md">
                        <button type="button" class="btn-mark-completed btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn-trash-task btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </script>

    <!-- include source files here... -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="scripts/main.js"></script>


    <!-- include spec files here... -->
    <script src="spec/test.js"></script>

    <script>
        $(function(){
            window.mochaPhantomJS ? mochaPhantomJS.run() : mocha.run()
        })
    </script>
</body>
</html>
